html, body {
    margin:0;
}

.links-container {
    position: absolute;
    top: 70px;
}

.beach-picture {

    margin-top: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    height: 50px;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}